
@{
    ViewBag.Title = "Packing";
}

@Scripts.Render("~/PackingCheck2/js")

<link href="~/Content/datatables.min.css" rel="stylesheet" />
<script src="~/Scripts/datatables.min.js"></script>
<script src="~/Scripts/moment.js" temp_src="moment.js"></script>
<script>

</script>

 
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="row text-center"> 
        <i style="color:red" >(คลิกรายการเพื่อยืนยัน เตรียมประกอบล้อ)</i>
    </div> 

    <div class="table-responsive">
        <table id="data-table-basic" class="table table-striped">
            <thead>
                <tr>

                    <th>เวลาเหลือ</th>
                    <th>เครื่อง</th>
                    <th>สาย</th>
                    <th>Tag</th>
                    <!--   <th>SO/PO</th> -->
                    <th>ความยาวแผน</th>
                    <th>ความยาวจริง</th>
                    <th>น้ำหนัก สาย</th>
                    <th>น้ำหนัก สาย+ล้อ</th>
                    <th>ขนาดล้อ</th>
                    <th width="10%">Drun Dimension</th>
                    <th width="10%">ขนาดไม้</th>
                    <th width="10%">ไม้/หนา</th>
                    <!-- <th>รายงานล่าสุด</th> -->
                    <th>แผนผลิตเสร็จ</th>
                    <th>Shop</th>
                    <th>QA</th>

                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" hidden>

    <div class="row text-center">
        <h3>รายการกำลังจะออกจากผลิต</h3>
        <i style="color:red" hidden>(เลือกรายการเพื่อ ตรวจสอบ)</i>
    </div>

</div>
