
@Scripts.Render("~/MonitorMach/js")
<div class="col-lg-3 col-md-4 col-sm-5 col-xs-12" id="Mach1">
    <div class="statistic-right-area notika-shadow mg-tb-30 sm-res-mg-t-0 Mach" style="background-color:black">
        <div class="past-day-statis">
            <h4 style="color:brown;font-style:oblique">Machine:  <i style="font-size:12px;color:coral" id="Machine">Dry Cure #1</i></h4>
            <h4 style="color:brown;font-style:oblique">Product Item: <i style="font-size:12px;color:coral" id="Item">0.6/1KV MICA/XLPE/OS/SWA/LSHF 1PX2.5 MM2</i></h4>
            <h4 style="color:brown;font-style:oblique">Tag Reel:  <i style="font-size:12px;color:coral" id="Tag">G044388</i>&nbsp; SO: <i style="font-size: 12px;color: coral" id="SO">1213100860-10</i></h4>

        </div>
        <!--div class="dash-widget-visits"></div-->
        <div class="past-statistic-an">
            <div class="past-statistic-ctn">
                <h3 style="color:white">Total P.Order: <span class="counter">1,000</span></h3>
                <h3 style="color:white">Total Finished: <span class="counter">900</span></h3>
                <h3 style="color:lime">PLAN: <span class="counter">500</span></h3>
                <h3 style="color:lime">ACTUAL: <span class="counter">100</span></h3>
                <h3 style="color:red">DIFF: <span class="counter">400</span></h3>
            </div>
            <div class="past-statistic-graph">
                <input id="CheckboxP1" type="checkbox" /> <i style="color:lime"> START</i> <br>
                <input id="CheckboxP1" type="checkbox" /> <i style="color:red"> STOP</i><br>
                <input id="CheckboxP1" type="checkbox" /> <i style="color:yellow"> PROBLEM</i>
            </div>
        </div>
        <!--  <div class="past-statistic-an">
               <div class="past-statistic-ctn">
                   <h3><span class="counter">1,03,000</span></h3>
                   <p>Total Clicks</p>
               </div>
               <div class="past-statistic-graph">
                   <div class="stats-line"></div>
               </div>
           </div>
           <div class="past-statistic-an">
               <div class="past-statistic-ctn">
                   <h3><span class="counter">24,00,000</span></h3>
                   <p>Site Visitors</p>
               </div>
               <div class="past-statistic-graph">
                   <div class="stats-bar-2"></div>
               </div>
           </div>  -->
    </div>
</div>


<div class="col-lg-3 col-md-4 col-sm-5 col-xs-12" id="Mach1">
    <div class="statistic-right-area notika-shadow mg-tb-30 sm-res-mg-t-0 Mach" style="background-color:black">
        <div class="past-day-statis">
            <h4 style="color:brown;font-style:oblique">Machine:  <i style="font-size:12px;color:coral" id="Machine">Dry Cure #1</i></h4>
            <h4 style="color:brown;font-style:oblique">Product Item: <i style="font-size:12px;color:coral" id="Item">0.6/1KV MICA/XLPE/OS/SWA/LSHF 1PX2.5 MM2</i></h4>
            <h4 style="color:brown;font-style:oblique">Tag Reel:  <i style="font-size:12px;color:coral" id="Tag">G044388</i>&nbsp; SO: <i style="font-size: 12px;color: coral" id="SO">1213100860-10</i></h4>

        </div>
        <!--div class="dash-widget-visits"></div-->
        <div class="past-statistic-an">
            <div class="past-statistic-ctn">
                <h3 style="color:white">Total P.Order: <span class="counter">1,000</span></h3>
                <h3 style="color:white">Total Finished: <span class="counter">900</span></h3>
                <h3 style="color:lime">PLAN: <span class="counter">500</span></h3>
                <h3 style="color:lime">ACTUAL: <span class="counter">100</span></h3>
                <h3 style="color:red">DIFF: <span class="counter">400</span></h3>
            </div>
            <div class="past-statistic-graph">
                <input id="CheckboxP1" type="checkbox" /> <i style="color:lime"> START</i> <br>
                <input id="CheckboxP1" type="checkbox" /> <i style="color:red"> STOP</i><br>
                <input id="CheckboxP1" type="checkbox" /> <i style="color:yellow"> PROBLEM</i>
            </div>
        </div>
        <!--  <div class="past-statistic-an">
               <div class="past-statistic-ctn">
                   <h3><span class="counter">1,03,000</span></h3>
                   <p>Total Clicks</p>
               </div>
               <div class="past-statistic-graph">
                   <div class="stats-line"></div>
               </div>
           </div>
           <div class="past-statistic-an">
               <div class="past-statistic-ctn">
                   <h3><span class="counter">24,00,000</span></h3>
                   <p>Site Visitors</p>
               </div>
               <div class="past-statistic-graph">
                   <div class="stats-bar-2"></div>
               </div>
           </div>  -->
    </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-5 col-xs-12" id="Mach1">
    <div class="statistic-right-area notika-shadow mg-tb-30 sm-res-mg-t-0 Mach" style="background-color:black">
        <div class="past-day-statis">
            <h4 style="color:brown;font-style:oblique">Machine:  <i style="font-size:12px;color:coral" id="Machine">Dry Cure #1</i></h4>
            <h4 style="color:brown;font-style:oblique">Product Item: <i style="font-size:12px;color:coral" id="Item">0.6/1KV MICA/XLPE/OS/SWA/LSHF 1PX2.5 MM2</i></h4>
            <h4 style="color:brown;font-style:oblique">Tag Reel:  <i style="font-size:12px;color:coral" id="Tag">G044388</i>&nbsp; SO: <i style="font-size: 12px;color: coral" id="SO">1213100860-10</i></h4>

        </div>
        <!--div class="dash-widget-visits"></div-->
        <div class="past-statistic-an">
            <div class="past-statistic-ctn">
                <h3 style="color:white">Total P.Order: <span class="counter">1,000</span></h3>
                <h3 style="color:white">Total Finished: <span class="counter">900</span></h3>
                <h3 style="color:lime">PLAN: <span class="counter">500</span></h3>
                <h3 style="color:lime">ACTUAL: <span class="counter">100</span></h3>
                <h3 style="color:red">DIFF: <span class="counter">400</span></h3>
            </div>
            <div class="past-statistic-graph">
                <input id="CheckboxP1" type="checkbox" /> <i style="color:lime"> START</i> <br>
                <input id="CheckboxP1" type="checkbox" /> <i style="color:red"> STOP</i><br>
                <input id="CheckboxP1" type="checkbox" /> <i style="color:yellow"> PROBLEM</i>
            </div>
        </div>
        <!--  <div class="past-statistic-an">
               <div class="past-statistic-ctn">
                   <h3><span class="counter">1,03,000</span></h3>
                   <p>Total Clicks</p>
               </div>
               <div class="past-statistic-graph">
                   <div class="stats-line"></div>
               </div>
           </div>
           <div class="past-statistic-an">
               <div class="past-statistic-ctn">
                   <h3><span class="counter">24,00,000</span></h3>
                   <p>Site Visitors</p>
               </div>
               <div class="past-statistic-graph">
                   <div class="stats-bar-2"></div>
               </div>
           </div>  -->
    </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-5 col-xs-12" id="Mach1">
    <div class="statistic-right-area notika-shadow mg-tb-30 sm-res-mg-t-0 Mach" style="background-color:black">
        <div class="past-day-statis">
            <h4 style="color:brown;font-style:oblique">Machine:  <i style="font-size:12px;color:coral" id="Machine">Dry Cure #1</i></h4>
            <h4 style="color:brown;font-style:oblique">Product Item: <i style="font-size:12px;color:coral" id="Item">0.6/1KV MICA/XLPE/OS/SWA/LSHF 1PX2.5 MM2</i></h4>
            <h4 style="color:brown;font-style:oblique">Tag Reel:  <i style="font-size:12px;color:coral" id="Tag">G044388</i>&nbsp; SO: <i style="font-size: 12px;color: coral" id="SO">1213100860-10</i></h4>

        </div>
        <!--div class="dash-widget-visits"></div-->
        <div class="past-statistic-an">
            <div class="past-statistic-ctn">
                <h3 style="color:white">Total P.Order: <span class="counter">1,000</span></h3>
                <h3 style="color:white">Total Finished: <span class="counter">900</span></h3>
                <h3 style="color:lime">PLAN: <span class="counter">500</span></h3>
                <h3 style="color:lime">ACTUAL: <span class="counter">100</span></h3>
                <h3 style="color:red">DIFF: <span class="counter">400</span></h3>
            </div>
            <div class="past-statistic-graph">
                <input id="CheckboxP1" type="checkbox" /> <i style="color:lime"> START</i> <br>
                <input id="CheckboxP1" type="checkbox" /> <i style="color:red"> STOP</i><br>
                <input id="CheckboxP1" type="checkbox" /> <i style="color:yellow"> PROBLEM</i>
            </div>
        </div>
        <!--  <div class="past-statistic-an">
               <div class="past-statistic-ctn">
                   <h3><span class="counter">1,03,000</span></h3>
                   <p>Total Clicks</p>
               </div>
               <div class="past-statistic-graph">
                   <div class="stats-line"></div>
               </div>
           </div>
           <div class="past-statistic-an">
               <div class="past-statistic-ctn">
                   <h3><span class="counter">24,00,000</span></h3>
                   <p>Site Visitors</p>
               </div>
               <div class="past-statistic-graph">
                   <div class="stats-bar-2"></div>
               </div>
           </div>  -->
    </div>
</div>