
@{
    ViewBag.Title = "Requests";
}

@{
    ViewBag.Title = "Home Page";
}

@Scripts.Render("~/ChangePlan/js")



<div class="row text-center">
    <h3>แก้ไขแผนงาน</h3>
    <i style="color:red">(ยิงบาร์โค้ดTAGล้อ สำหรับแก้ไขแผนงาน)</i>
</div>
<div class="" style="">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list">
            <div class="row">
                <div class="col-lg-3 col-md-2 col-sm-2 col-xs-1">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 notification-demo">
                    <div class="form-group nk-datapk-ctm form-elet-mg">
                        <i>TAG ล้อ</i><i style="color:red"> **</i>
                        <div class="input-group nk-int-st">
                            <input id="Bar_Kam" type="text" class="form-control" placeholder="TAG ล้อที่จะแก้ไขแผนงาน" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 notification-demo">
                    <div class="form-group nk-datapk-ctm form-elet-mg">
                        <i>ผู้บันทึก</i><i style="color:red"> **</i>
                        <div class="input-group nk-int-st">
                            <input id="User" type="text" class="form-control" placeholder="กรอกรหัสผู้บันทึก" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2 col-xs-1">
                </div>
            </div>


            <div class="row">
                <div class="col-lg-3 col-md-2 col-sm-2 col-xs-1">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 notification-demo">
                    <div class="form-group nk-datapk-ctm form-elet-mg">
                        <i>แผนเดิม : เครื่องจักร</i><i style="color:red"> **</i>
                        <div class="input-group nk-int-st">
                            <select class="form-control" id="Mach_Old" >
                                <option selected disabled>เครื่องเดิม....</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 notification-demo">
                    <div class="form-group nk-datapk-ctm form-elet-mg">
                        <i>แผนใหม่ : เครื่องจักร</i><i style="color:red"> **</i>
                        <div class="input-group nk-int-st">
                            <select class="form-control" id="Mach_New" >
                                @foreach (var Machine in ViewBag.Machine)
                                {
                                    <option value="@Machine.MC_Machine">@Machine.MC_Machine</option>

                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2 col-xs-1">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-2 col-sm-2 col-xs-1">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5" hidden>
                    <div class="form-group nk-datapk-ctm form-elet-mg" id="date_Plan">
                        <i>วันที่</i><i style="color:red">*</i>
                        <div class="input-group date nk-int-st">
                            <span class="input-group-addon"></span>
                            <input id="Date_Plan" type="datetime" class="form-control" placeholder="..../..../...." readonly>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 notification-demo" hidden>
                    <div class="form-group nk-datapk-ctm form-elet-mg">
                        <i>เวลา</i><i style="color:red ; font-size:10px"> * (AM : ก่อนเที่ยงวัน PM : หลังเที่ยงวัน)</i>
                        <div class="input-group nk-int-st">
                            <input type="time" id="Time_Plan" class="form-control">
                            <input type="time" id="Time_Actual" class="form-control hidden">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2 col-xs-1">
                </div>
            </div>


        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mg-t-10 text-center">
        <a id="Save" class="btn btn-success notika-btn-success btn-default">บันทึก</a>
        <a href="@Url.Action("ChangePlan", new {})" id="Clear" class="btn btn-success notika-btn-success btn-default">Clear</a>
    </div>
</div>

